In [1]:
import numpy as np
import pandas as pd

In [6]:
#articles_df = pd.read_csv("all_articles.csv")
articles_df = pd.read_csv("all_articles.csv")
articles_df.fillna("", inplace=True)

train_set=articles_df.sample(frac=0.8,random_state=200)
test_set=articles_df.drop(train_set.index)

In [4]:
train_set

,article_title,text,relevant,relevant_kristen,mismatch
338,\r\nTo the Editor:\r\n\r\n\r\n\r\nMany investo...,\r\nTo the Editor:\r\n\r\n\r\n\r\nMany investo...,0,,
361,"ROHNERT PARK, Calif., March 26, 2018 /PRNewswi...","ROHNERT PARK, Calif., March 26, 2018 /PRNewswi...",1,,
454,California State University - Stanislaus; Turl...,California State University - Stanislaus; Turl...,0,,
180,ART: PHOTO \r\n\r\nThe company has expanded i...,ART: PHOTO \r\n\r\nThe company has expanded i...,0,,
563,CHESAPEAKE\r\n\r\nHomeowners will likely pay m...,CHESAPEAKE\r\n\r\nHomeowners will likely pay m...,1,,
...,...,...,...,...,...
414,"Mr. Peterson,\r\n\r\nI was very annoyed by you...","Mr. Peterson,\r\n\r\nI was very annoyed by you...",0,,
639,\r\nNATIONAL WESTMINSTER BANK PLC (London) -- ...,\r\nNATIONAL WESTMINSTER BANK PLC (London) -- ...,0,,
21,SCAM ALERT: LOAN REPAYMENT COMPANIES SCAMMING ...,SCAM ALERT: LOAN REPAYMENT COMPANIES SCAMMING ...,1,1.0,0.0
507,"Nearly 2,300 teachers have just had a mountain...","Nearly 2,300 teachers have just had a mountain...",0,,
485,A Donald Trump presidency could wreck the Amer...,A Donald Trump presidency could wreck the Amer...,0,,

In [7]:
test_set

,article_title,text,relevant,relevant_kristen,mismatch
0,Intervention was the right thing to do,News Intervention was the right thing to do FI...,0,0.0,0.0
2,Senator Reverend Warnock Introduces Bill to En...,Senator Reverend Warnock Introduces Bill to En...,1,0.0,1.0
6,Students react to Biden's student debt relief ...,Students react to Biden's student debt relief ...,1,1.0,0.0
7,A GOP attorney general says people are 'celebr...,A GOP attorney general says people are 'celebr...,0,0.0,0.0
10,Drivers face Â£35bn tax bill to plug the gap as...,News Drivers face Â£35bn tax bill to plug the g...,1,1.0,0.0
...,...,...,...,...,...
705,Oregon lawmakers learned this week they can bu...,Oregon lawmakers learned this week they can bu...,1,,
706,"It's a still, warm, late-summer day as the tax...","It's a still, warm, late-summer day as the tax...",0,,
715,Furious shoppers have been complaining to the ...,Furious shoppers have been complaining to the ...,0,,
718,"STEVE INSKEEP: In California, homeowners' asso...","STEVE INSKEEP: In California, homeowners' asso...",0,,
720,PORTUGAL has been added to the green list of c...,PORTUGAL has been added to the green list of c...,0,,