In [1]:
import os

import numpy as np
import pandas as pd
import json

In [19]:
df = pd.read_json('fwb_data/part-000000000000.json', lines=True)

In [20]:
# Run this cell if you find any column names that don't make sense to be used.
# Replace the words 'index' and 'Unnamed: 0' with the names that you want to exclude.

# Drop the column name making less sense  , 'subject_codes'
df = df.reset_index().drop(columns=['subject_codes','copyright','index','region_of_origin','source_name','language_code', 'region_codes', 'byline', 'publisher_name','company_codes_association', 'art', 'modification_datetime', 'company_codes_occur_ticker_exchange', 'company_codes_occur', 'company_codes_about', 'company_codes_lineage','company_codes_ticker_exchange','company_codes_relevance_ticker_exchange','publication_date',	'market_index_codes','credit','section','company_codes_association_ticker_exchange','currency_codes','an','word_count','company_codes','industry_codes','action','document_type','dateline', 'publication_datetime','company_codes_relevance','source_code','person_codes','company_codes_lineage_ticker_exchange','ingestion_datetime','modification_date','company_codes_about_ticker_exchange'])

In [21]:
df

,body,snippet,title
0,There may be plenty of upside left. The yellow...,With financial markets around the world collap...,Golden Opportunity
1,"To get away from all that, we escape to the du...",Plugged in takes a break this week from the ca...,Court Ruling Cheers Techs
2,Today's low share prices give you more bang fo...,Even Pollyanna might have a tough time finding...,Retirement -- Estate Planning: Handing Over Yo...
3,The protests came swift and ferocious. In the ...,Bill Bradley isn't exactly a flamethrower. As ...,Philanthropy 2003 -- Nonprofit efficiency --Fi...
4,The sources of last week's concern did not pre...,Throwing caution to the wind can be a liberati...,Stocks --- The Trader: The Market Tastes a 52-...
...,...,...,...
25330,The U.S. Department of Treasury is expected to...,TAMA — A handful of Teamsters union retirees b...,Teamsters bring pension concerns to Ernst
25331,The increases rely on no change in state appro...,"AMES — With Iowa's budget crunch continuing, I...",ISU pitches hefty tuition as 'breaking point' ...
25332,"Robo-advisors, on the other hand, are automate...",Online brokers and robo-advisors are some othe...,Where else can you open accounts?
25333,Community members may join this free presentat...,WATERLOO — The public is invited to join the W...,"Waterloo Community, Friendship Village foundat..."
25334,,Photo Credit: Alamy Stock Photo\n\nAverage stu...,8. Vermont

In [22]:
df['text'] = df['title'] + '\n' + df['snippet'] + '\n' + df['body']

In [23]:
df = df.rename(columns={'title': 'article_title', 'relevance': 'relevant'})

In [24]:
# Drop the column name making less sense  , 'subject_codes'
df = df.reset_index().drop(columns=['snippet', 'body', 'index'])

In [25]:
df

,article_title,text
0,Golden Opportunity,Golden Opportunity\nWith financial markets aro...
1,Court Ruling Cheers Techs,Court Ruling Cheers Techs\nPlugged in takes a ...
2,Retirement -- Estate Planning: Handing Over Yo...,Retirement -- Estate Planning: Handing Over Yo...
3,Philanthropy 2003 -- Nonprofit efficiency --Fi...,Philanthropy 2003 -- Nonprofit efficiency --Fi...
4,Stocks --- The Trader: The Market Tastes a 52-...,Stocks --- The Trader: The Market Tastes a 52-...
...,...,...
25330,Teamsters bring pension concerns to Ernst,Teamsters bring pension concerns to Ernst\nTAM...
25331,ISU pitches hefty tuition as 'breaking point' ...,ISU pitches hefty tuition as 'breaking point' ...
25332,Where else can you open accounts?,Where else can you open accounts?\nOnline brok...
25333,"Waterloo Community, Friendship Village foundat...","Waterloo Community, Friendship Village foundat..."
25334,8. Vermont,8. Vermont\nPhoto Credit: Alamy Stock Photo\n\...